{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "modules": false,
          "targets": {
            "node": "current"
          }
        }
      }
    ]
  ],
  "plugins": [
    "inline-react-svg",
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}
